@model DoubleGisGidClasses.Places

@{
    ViewBag.Title = "Загруженные Места города";
    Layout = "_Layout";
}

<h2>Места города</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td>Название</td>
            <td>Лайки</td>
            <td>Дизлайки</td>
            <td>Имя представителя</td>
            <td>Описание</td>
            <td>Адрес</td>
            <td>Телефон</td>
            <td>Ссылки</td>
        </tr>
    </thead>
    @foreach (var place in Model.ListOfPlaces)
    {
    <tr>
        <td>@place.Name</td>
        <td>@place.Likes</td>
        <td>@place.Dislikes</td>
        <td>@place.Information.SpokesmanName</td>
        <td>@place.Information.Discription</td>
        <td>@place.Information.Region; @place.Information.City; @place.Information.NameOfStreet; @place.Information.NumberOfStreet.ToString()</td>
        @foreach (var n in place.PhoneNumber)
        {
            <td>@n;</td>
        }
        @foreach (var c in place.SocialContacts)
        {
            <td>@c;</td>
        }        
    </tr>
    }
</table>
