@model System.Collections.Generic.List<DoubleGisGidClasses.Web.Models.DataAccessPostgreSqlProvider.DbPlace>
@{
    ViewBag.Title = "Места города Екатеринбурга";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
@foreach (var place in Model)
{
    <div>
        <p align="center">@place.Name</p>
        <img src="Image?id=@place.Id" />
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <td>Количество лайков</td>
                    <td>Количество Дизлайков</td>
                    <td>Имя представителя</td>
                    <td>Описание</td>
                    <td>Город</td>
                    <td>Улица</td>
                    <td>Телефон</td>
                    <td>Ссылки</td>
                </tr>
            </thead>
            <tr>
                <td>@place.Likes</td>
                <td>@place.Dislikes</td>
                <td>@place.DbInformation.SpokesmanName</td>
                <td>@place.DbInformation.Discription</td>
                <td>@place.DbInformation.Region + @place.DbInformation.City</td>
                <td>@place.DbInformation.NameOfStreet + @place.DbInformation.NumberOfStreet</td>
                @if (place.PhoneNumber != null)
                {
                    var strn = "";
                    @foreach (var e in place.PhoneNumber)
                    {
                        strn += e;
                        strn += ";";
                    }
                    <td>@strn</td>
                }
                @if (place.SocialContacts != null)
                {
                    var strc = "";
                    @foreach (var e in place.PhoneNumber)
                    {
                        strc += e;
                        strc += ";";
                    }
                    <td>@strc</td>
                }
            </tr>
        </table>
    </div>
}